body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Slab', serif;
}



article, div, a {
	box-sizing: border-box;
}

a {
	transition: 2s ease-out;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

.animated {

}

.f_1 {font-size: 9.5vh;}
.f_2 {font-size: 6vh;}
.f_3 {font-size: 4vh;}
.f_4 {font-size: 3vh;}
.f_5 {font-size: 2.7vh;}
.f_6 {font-size: 7vh;}
.f_7 {font-size: 5vh;}


.upper {
	text-transform: uppercase;
}

.aligner {
	text-align: center;
}

.centro_1 {
		padding-top: 68vh;
		width: 100%;
		text-align: center;
}

.centro_2 {
	text-align: center;
	padding-top: 20vh;
	width: 100%;
}

.centro_3 {
	text-align: center;
	padding-top: 10vh;
	padding-bottom: 20vh;
	width: 100%;
}
.h1 {
	font-weight: 400;
}
.h2 {
	font-weight: 300;
}

.shadow {
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.85);
}

.deep-shadow {
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.95);
}

.shadow-text {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.light-shadow {
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.interval {
	padding-top: 26vh;
}

.white {
	color: #fff;
}


.bold {
	font-weight: 700;
}


.lefter {
	float: left;
}

.righter {
	float: right;
}


#first {
	background: url(../img/fon_3-min.jpg) no-repeat center center / cover;
	height: 100vh;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}


#second {

}
.content {
	margin: 20vh auto 20vh 15vh;
}
.circle {
	width: 20vw;
	height: 20vw;
	border-radius: 10vw;
	background: url(../img/jansen-min.jpg) no-repeat center center / 128%;
	margin: auto 5vh auto 10vh;
	float: left;
}
.text_1 {
	margin: 15vh 15vh 1.5vh auto;
}
.text_2 {
	margin: 0.7vh 15vh auto auto;
}

#third {
	background: url(../img/fon_wood-min.jpg) no-repeat center center / cover;
	height: 100vh;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.stone {
	width: 50vw;
	height: 50vh;
	background: url(../img/04_06-min.png) no-repeat center center / 110%;
	float: left;
	margin-top: 25vh;
}

.content_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 45vw;
	height: 50vh;
	float: right;
	margin-top: 25vh;
}
.point {
	width: 40vw;
	height: 20vh;
	text-align: left;
	margin-bottom: 2vh;
	padding: 2vh 2vw 2vh 2vw;
	background-color: rgba(33, 33, 33, 0.85);

}

#fourth {
	height: 100vh;
}
.adress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45vw;
	height: 50vh;
	float: left;
	margin-top: 25vh;
	color: #424242;
}

.point_1 {
	padding-top: 7vh;
}

.point_2 {
	padding-top: 5vh;
}
.map {
	width: 50vw;
	height: 50vh;
	background: url(../img/map-min.jpg) no-repeat center center / 100%;
	float: right;
	margin-top: 25vh;
	margin-right: 3vw;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
	border: 0.05vh solid #BDBDBD;
}

#fifth {

}



.bottom {
	padding-bottom: 5vh;
}
